{% extends "templated_forms/enclosure/default.html" %}

{% block form_widget_content %}


<label for="id_{{ field.name }}">{{ field.label }} {{ field.is_required }} {{ field.field.is_required }}</label>
<textarea name="{{ field.html_name }}" class="form-control {{ classname }}" id="id_{{ field.name }}"
          placeholder="{% if field.initial %}{{ field.initial }}{% endif %}">{% if field.value %}{{ field.value }}{% endif %}</textarea>

    {% if field.help_text %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
    {% for message in field.errors %}
        <p class="help-block">{{ message }}</p>
    {% endfor %}

{% endblock %}