{% extends "my/parents/my_layout.html" %}

{% load humanize templated_form %}

{% block tabtitle %}Wirtschaft{% endblock %}

{% block headline %}
    <h1>Wirtschaft <small>{{ request.player.name }}</small></h1>
{% endblock %}

{% block tabcontent %}
    <div>
        <a href=".." class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span> zurück</a>

        <button class="btn btn-default pull-right" data-toggle="modal" data-target="#explain-production-modal">
            <span class="glyphicon glyphicon-question-sign"></span>
            Wer? Wie? Was?
        </button>
        <br class="clearfix" />
    </div>

    <form class="form" method="POST" action=".">{% csrf_token %}

        {% parse_form form %}
        <div class="form-group">
            <div class="">
                <input type="submit" class="btn btn-success" value="Speichern" />
                <input type="reset" class="btn btn-warning" value="Reset" />
            </div>
        </div>
        <br />
    </form>

    {% include "my/partials/explain_production_modal.html" %}

{% endblock %}